/*------------ESTILOS----DEFINIDOS----------DE-----SASS------*/
/*---------------------------MIXINS---------------*/
/*---------------------------ESTILOS GENERALES---------------*/
section {
  background: white;
  position: absolute;
  width: 100%;
  left: 0;
  display: none;
  height: 100%; }

.content {
  background: rgba(39, 38, 38, 0.29);
  position: absolute;
  width: 100%;
  height: 100%; }

.visible {
  display: block; }

/*--------------------------header-----menu-----------------*/
.navbar {
  background: rgba(0, 0, 0, 0.298);
  margin: 0;
  border: none;
  border-radius: 0;
  position: fixed;
  z-index: 99;
  width: 100%; }
  .navbar .nav li a {
    color: #ffffff;
    font-family: "roboto";
    font-size: 15px; }
    .navbar .nav li a:hover, .navbar .nav li a:focus {
      background: #e01e1e; }
  .navbar .navbar-toggle {
    color: #ffffff;
    border: 1px solid #ffffff; }

/*-----------------------inicio---foto---------------------*/
#secInicio {
  background-image: url(../img/fondo.JPG);
  background-position: center;
  background-position: top;
  background-size: cover;
  color: #d5e0e3; }
  #secInicio .sayda {
    position: absolute;
    width: 40%;
    top: 30%;
    right: 58%; }
  #secInicio h1 {
    font-size: 80px;
    font-family: "Ranga", cursive; }
  #secInicio h2 {
    font-size: 80px -20px;
    font-family: "roboto"; }

/*-----------------sobre-----mi-------------------------*/
#sobreMi {
  color: #86675c;
  position: absolute;
  background-image: url(../img/symphony.png);
  padding: 8% 0%; }
  #sobreMi .imagen {
    border-radius: 15px;
    height: 248px;
    box-shadow: 3px 2px 2px 2px #9d967a;
    opacity: 0.9; }
  #sobreMi .imagen:hover {
    transform: scale(1.2s);
    transition: all 250ms ease-in-out;
    opacity: none; }
  #sobreMi h1 {
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif;
    color: #d65e45; }
  #sobreMi p {
    font-size: 20px;
    font-family: 'Roboto+Slab'; }
  #sobreMi span {
    color: #d65e45; }

/*-----------------------habilidades-------------------*/
#secHabilidades {
  background: url(../img/eight_horns.png);
  text-align: center;
  color: white;
  padding: 5% 0%; }
  #secHabilidades h1 {
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif;
    color: #76aee6; }
  #secHabilidades .habilidad {
    border-radius: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    border: 2px solid #76aee6; }
    #secHabilidades .habilidad img {
      max-height: 120px;
      max-width: 100%; }
  #secHabilidades .progress {
    border: 1px solid #76aee6; }
  #secHabilidades .sass {
    margin-top: 20px; }

/*----------------------proyectos-----------------------*/
#secProyectos {
  background: url(../img/black_mamba_@2X.png);
  color: #ffffff;
  padding: 5% 0;
  text-align: center; }
  #secProyectos h1 {
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif; }
  #secProyectos .row {
    margin-top: 3%; }
  #secProyectos img {
    width: 90%;
    height: 80%;
    padding: 10px; }
  #secProyectos .overlay {
    position: absolute;
    width: 90%;
    height: 100%;
    bottom: 1%;
    left: 5%;
    padding: 10px;
    color: transparent; }
    #secProyectos .overlay a {
      font-size: 25px;
      padding: 10px;
      color: transparent; }
      #secProyectos .overlay a:hover {
        color: #ffffff;
        border: 2px solid #fff;
        border-radius: 7px;
        color: #ffffff; }
    #secProyectos .overlay:hover {
      background-color: rgba(224, 30, 30, 0.49);
      border: 2px solid red;
      font-size: 20px;
      color: #ffffff; }

/*----------------------contactame-------------------*/
#secContactame {
  background: url(../img/burried.png);
  color: #ffffff;
  padding: 10% 0%; }
  #secContactame .row {
    margin-top: 10%; }
  #secContactame h1 {
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif; }
  #secContactame .fondoContactame {
    border-radius: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%; }
    #secContactame .fondoContactame img {
      max-height: 120px;
      max-width: 100%; }

/*# sourceMappingURL=main.css.map */
