/*------------ESTILOS----DEFINIDOS----------DE-----SASS------*/
/*---------------------------MIXINS---------------*/
/*---------------------------ESTILOS GENERALES---------------*/
section {
  background: white;
  position: absolute;
  width: 100%;
  left: 0;
  display: none;
  height: 100%; }

.content {
  background: rgba(39, 38, 38, 0.29);
  position: absolute;
  width: 100%;
  height: 100%; }

.visible {
  display: block; }

/*--------------------------header-----menu-----------------*/
.navbar {
  background: rgba(0, 0, 0, 0.298);
  margin: 0;
  border: none;
  border-radius: 0;
  position: fixed;
  z-index: 99;
  width: 100%; }
  .navbar .nav li a {
    color: white;
    font-family: "roboto";
    font-size: 15px; }
    .navbar .nav li a:hover, .navbar .nav li a:focus {
      background: #e01e1e; }

/*-----------------------inicio---foto---------------------*/
#secInicio {
  background-image: url(../img/fondo.JPG);
  background-position: center;
  background-position: top;
  background-size: cover;
  color: #d5e0e3; }
  #secInicio .sayda {
    position: absolute;
    width: 40%;
    top: 30%;
    right: 58%; }
  #secInicio h1 {
    font-size: 80px;
    font-family: "Ranga", cursive; }
  #secInicio h2 {
    font-size: 80px -20px;
    font-family: "roboto"; }

/*-----------------sobre-----mi-------------------------*/
#sobreMi {
  color: #86675c;
  position: absolute;
  background-size: auto;
  background-image: url(../img/symphony.png);
  padding: 13% 0%; }
  #sobreMi .imagen {
    border-radius: 100%;
    width: 300px;
    box-shadow: 3px 2px 2px 2px #9d967a;
    opacity: 0.9;
    position: relative;
    top: 50px; }
  #sobreMi .imagen:hover {
    transform: scale(1.2);
    transition: all 250ms ease-in-out;
    opacity: none; }
  #sobreMi h1 {
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif;
    color: #d65e45; }
  #sobreMi p {
    font-size: 20px;
    font-family: 'Roboto+Slab'; }
  #sobreMi span {
    color: #d65e45; }

/*-----------------------habilidades-------------------*/
#secHabilidades {
  background: url(../img/eight_horns.png);
  text-align: center;
  color: white;
  padding: 5% 0%; }
  #secHabilidades h1 {
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif;
    color: #f2713b; }
  #secHabilidades .html {
    border-radius: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    border: 2px solid #f2713b; }
    #secHabilidades .html img {
      max-height: 120px;
      max-width: 100%; }
  #secHabilidades .css {
    border-radius: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    border: 2px solid #29a9df; }
    #secHabilidades .css img {
      max-height: 120px;
      max-width: 100%; }
  #secHabilidades .bostrap {
    border-radius: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    border: 2px solid #431d51; }
    #secHabilidades .bostrap img {
      max-height: 120px;
      max-width: 100%; }
  #secHabilidades .java {
    border-radius: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    border: 2px solid #dab92d; }
    #secHabilidades .java img {
      max-height: 120px;
      max-width: 100%; }
  #secHabilidades .jquery {
    border-radius: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    border: 2px solid #1879ac; }
    #secHabilidades .jquery img {
      max-height: 120px;
      max-width: 100%; }
    #secHabilidades .jquery .jqueryImg {
      max-height: 120px;
      max-width: 100%; }
  #secHabilidades .sass {
    border-radius: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    border: 2px solid #cd679a; }
    #secHabilidades .sass img {
      max-height: 120px;
      max-width: 100%; }
  #secHabilidades .nivelProgreso {
    width: 60%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 50px; }
  #secHabilidades .cantidad {
    width: 80%;
    height: 10px;
    position: absolute;
    border-radius: 100px; }

/*----------------------proyectos-----------------------*/
#secProyectos {
  background: url(../img/black_thread_@2X.png);
  color: white;
  padding: 5% 0;
  text-align: center; }
  #secProyectos h1 {
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif; }
  #secProyectos .row {
    margin-top: 3%; }
  #secProyectos img {
    width: 80%;
    height: 50%;
    border-top: 5px solid #ff2b00;
    border-bottom: 5px solid #ff2b00;
    padding: 10px; }

/*----------------------contactame-------------------*/
#secContactame {
  background: url(../img/black_thread_@2X.png);
  color: white;
  padding: 15% 0%; }
  #secContactame .row {
    margin-top: 10%; }
  #secContactame h1 {
    font-size: 80px;
    font-family: 'Julius Sans One', sans-serif; }
  #secContactame .fondoContactame {
    background: url(../img/greyfloral.png);
    border-radius: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    padding: 30px; }
    #secContactame .fondoContactame img {
      max-height: 120px;
      max-width: 100%; }

/*# sourceMappingURL=main.css.map */
