/*------------ESTILOS----DEFINIDOS----------DE-----SASS------*/
$altura-seciones:100%;
$ancho-seciones:100%;
$tama-imagen:50%;
$tamano-letra:80px;
$tipo-letra: 'Ranga', cursive;
$segunda-letra:'roboto';
$letra-color:white;
$hover-a:#e01e1e;
$pading:10px;
$border-radius:100%;
/*---------------------------MIXINS---------------*/
@mixin border{
    border-radius:$border-radius;
    margin:0 auto;
    padding: 20px;
    width: 50%;
    
    img{
        max-height: 120px;
        max-width: 100%; 
    }
    
}
@mixin titulo{
    font-size: $tamano-letra;
    font-family: 'Julius Sans One', sans-serif;;
}
@mixin parrafo{
    font-size: $tamano-letra - 60px;
    font-family:'Roboto+Slab';
}
/*---------------------------ESTILOS GENERALES---------------*/

section{
    background:white;
	position:absolute;
	width:100%;
	left:0;
	display:none;
    height:$altura-seciones;
}
.content{
    background:rgba(39, 38, 38, 0.29);
    position: absolute;
    width:$ancho-seciones;
    height: $altura-seciones;
}
.visible{
	display:block;
}
/*--------------------------header-----menu-----------------*/
.navbar{
    
    background:rgba(0, 0, 0, 0.2980);
    margin:0;
    border:none;
    border-radius:0;
    position:fixed;
    z-index:99;
    width:$ancho-seciones;
   .nav li a{
        color:$letra-color;
        font-family:$segunda-letra;
        font-size:$tamano-letra - 65px;
        
        &:hover , &:focus{
            background:$hover-a;
        }    
    }
    .navbar-toggle{
        color: #ffffff;
        border: 1px solid #ffffff;
    }
}
/*-----------------------inicio---foto---------------------*/
#secInicio{
    background-image:url(../img/fondo.JPG);
    background-position:center;
    background-position:top;
    background-size:cover;
    color:#d5e0e3;
    .sayda{
        position: absolute;
        width:40%;
        top:30%;
        right: 58%;
    }
    h1{
       font-size:$tamano-letra; 
        font-family: $tipo-letra;
    }
    h2{
       font-size: $tamano-letra -20px; 
       font-family:$segunda-letra;
    }
}

/*-----------------sobre-----mi-------------------------*/
#sobreMi{
    color:#86675c;
    position:absolute;
    background-image:url(../img/symphony.png);
    padding: 8% 0%;
    .imagen{
        border-radius:100%;
        width: 300px;
        box-shadow: 3px 2px 2px 2px #9d967a;
        opacity: 0.9;
        position:relative;
        top: 50px
    }
    .imagen:hover{
        transform: scale(1.2);
        transition: all 250ms ease-in-out;
        opacity: none;
        
    }
    h1{
        @include titulo;
        color: #d65e45;
    }
    p{
        @include parrafo;
    }
    span{
        color: #d65e45;
    }
}

/*-----------------------habilidades-------------------*/
#secHabilidades{
    background:url(../img/eight_horns.png); 
    text-align: center;
    color: white;
    padding: 5% 0%;
    h1{
        @include titulo;
        color: #76aee6;
    }
    .habilidad{
       @include border;
       border:2px solid #76aee6; 
    }
    .progress{
        border: 1px solid #76aee6;
    }
    .sass{
        margin-top: 20px;
    }
}
/*----------------------proyectos-----------------------*/
#secProyectos{
    background:url(../img/black_thread_@2X.png);
    color: $letra-color;
    padding: 5% 0;
    text-align: center;
    h1{
        @include titulo;
    }
    .row{
        margin-top:3%;
    }
    
    img{
        width:80%;
        height:50%;
        border-top:5px solid #ff2b00;
        border-bottom:5px solid #ff2b00;
        padding:10px;
    }
}

/*----------------------contactame-------------------*/
#secContactame{
    background:url(../img/black_thread_@2X.png);
    color: $letra-color;
    padding: 15% 0%;
    .row{
        margin-top:10%;
    }
    h1{
        @include titulo;
    }
    .fondoContactame{
        background: url(../img/greyfloral.png);
        @include border;
        padding: 30px;
        
    }
}