/*------------ESTILOS----DEFINIDOS----------DE-----SASS------*/
$tama-imagen:50%;
$letra-color:white;
$altura-seciones:87%;
$tamano-letra:40%;
/*---------------------------ESTILOS GENERALES---------------*/
img{
    width:$tama-imagen;
}
section{
	position:absolute;
	width:100%;
	left:0;
	display:none;
    height:$altura-seciones;
}
.visible{
	display:block;
}
/*--------------------------header-----menu-----------------*/
header{
    background:#000000;
    .fa-bars{
        color:$letra-color;
        margin:2%;
        font-size:40px;
    }
}

/*-----------------------inicio---foto---------------------*/
#secInicio{
    background-image:url(../img/fondo.JPG);
    background-position:center;
    background-position:top;
    background-size:cover;
    color:#d5e0e3;
    font-family: 'Ranga', cursive;
    .sayda{
        background: rgba(39, 38, 38, 0.43);
        position:absolute;
        width:100%;
        left:0%;
        top:65%;
        text-align:center;
    }
    
    h1{
       font-size:100px; 
    }
    h2{
       font-size: 50px; 
    }
}

/*----------------------menu---desplegable---------*/
#menu-desplegar{
    background:rgba(18, 16, 16, 0.78); 
    color:$letra-color;
    
}
/*--------------------------------hover--de m
#inicio{
    &:hover{
        background:#e56c54;
    }
}
#sobre-mi{
    &:hover{
        background:#ffc300;
    }
}
#habilidades{
    &:hover{
        background:#ff5733;
    }
}
#proyectos{
    &:hover{
        background:#c70039;
    }
}
#contactame{
    &:hover{
        background:#900c3f;
    }
}*/
/*-----------------sobre-----mi-------------------------*/
#sobreMi{
    background-color:#ffc300;
}
.cajaUno {
    -webkit-transform:rotate(25deg); 
}
/*-----------------------habilidades-------------------
#secHabilidades{
   background-color:#ff5733; 
}
/*----------------------proyectos-----------------------
#secProyectos{
    background:#c70039;
}

----------------------contactame-------------------
#secContactame{
    background:#900c3f;
}*/