/*------------ESTILOS----DEFINIDOS----------DE-----SASS------*/
$altura-seciones:100%;
$ancho-seciones:100%;
$tama-imagen:50%;
$tamano-letra:80px;
$tipo-letra: 'Ranga', cursive;
$segunda-letra:'roboto';
$letra-color:white;
$hover-a:#e01e1e;
/*---------------------------ESTILOS GENERALES---------------*/
img{
    width:$tama-imagen;
}
section{
    background:black;
	position:absolute;
	width:100%;
	left:0;
	display:none;
    height:$altura-seciones;
}
.content{
    background: rgba(39, 38, 38, 0.29);
    position: absolute;
    width:$ancho-seciones;
    height: $altura-seciones;
}
.visible{
	display:block;
}
/*--------------------------header-----menu-----------------*/
.navbar{
    
    background:rgba(0, 0, 0, 0.2980);
    margin:0;
    border:none;
    border-radius:0;
    position:fixed;
    z-index:99;
    width:$ancho-seciones;
   .nav li a{
        color:$letra-color;
        font-family:$segunda-letra;
        font-size:$tamano-letra - 65px;
        
        &:hover , &:focus{
            background:$hover-a;
        }    
    }
}
/*-----------------------inicio---foto---------------------*/
#secInicio{
    background-image:url(../img/fondo.JPG);
    background-position:center;
    background-position:top;
    background-size:cover;
    color:#d5e0e3;
    .sayda{
        position: absolute;
        width:40%;
        top:30%;
        right: 58%;
    }
    h1{
       font-size:$tamano-letra; 
        font-family: $tipo-letra;
    }
    h2{
       font-size: $tamano-letra -20px; 
       font-family:$segunda-letra;
    }
}

/*-----------------sobre-----mi-------------------------*/
#sobreMi{
    background:#EBC7A8;
    font-family:$tipo-letra;
    color:$letra-color;
    h1{
        font-size:$tamano-letra;
    }
    p{
       font-size:$tamano-letra  - 50px; 
        font-family:$segunda-letra;
    }
    .cajaDos{
        background:rgba(52, 50, 50, 0.65);
        margin: auto;
        border-radius: 200px;
        width:50%;
    }
    .cajaDos img{
        box-shadow:1px 1px 1px #2e2b2b;
        background: red;
        border-radius: 200px;
        width: $ancho-seciones;
    }
}

/*-----------------------habilidades-------------------*/
#secHabilidades{
   background-color:#ff5733; 
}
/*----------------------proyectos-----------------------
#secProyectos{
    background:#c70039;
}

----------------------contactame-------------------
#secContactame{
    background:#900c3f;
}*/