//--CELULARES---------------------CELULARES 
@mixin sayda{
    background:rgba(10, 10, 10, 0.51);
    position: absolute;
    text-align:center;
    width:95%;
    right:2%;
}
@media (max-width:764px) and (min-width:319px){
    //SECION DE INICIO
    #secInicio .sayda {
        @include sayda;
        top:60%;
        h1{
            font-size:64px;
        }
    }
    //SECCION DE SOBRE MI
    #sobreMi{
        padding: 20% 0%;
        height: auto;
        .imagen{
            margin-top: 20px;
        }
        h1{
            font-size:52px;
        }
        p{
            font-size:19px; 
        }
    } 
    //SECTION HABILIDADES 
    #secHabilidades {
        padding: 17% 0%;
        h1{
            font-size:52px;
        }
        .habilidad{
            width: 66%;
        }
        .habilidad img {
            max-height: 41px;
        }
        .sass{
            margin-top: 0;
        }
    }
    //PROYECTOS
    #secProyectos{
        padding: 13% 0%;
        height: auto;
        h1{
            font-size: 45px;
        }
    }
    //CONTACTAME 
    #secContactame {
        height: auto;
        h1{
            font-size: 45px;
        }
    }
}
//PHONE 5
@media (max-width:568px) and (min-width:320px){
    #secInicio .sayda {
        @include sayda;
        top:53%;
        h1{
            font-size:56px;
        }
    }
    //SECCION DE SOBRE MI
    #sobreMi{
        padding:15% 0%;
        height:auto;
        h1{
            font-size:45px;
        }
    } 
    //SECTION HABILIDADES 
    #secHabilidades {
        padding: 15% 0%;
        h1{
            font-size:42px;
        }
        .progress{
            margin-bottom: 16px;
        }
    }
}
//CELULARES--------------PAD------
@media (max-width:1024px) and (min-width:764px){
    #secInicio .sayda {
        @include sayda;
        top:60%;
    }
    //SECCION DE SOBRE MI
    #sobreMi{
        padding:18% 0%;
        .imagen{
           margin-top:30px;
        }
        .col-md-6{
            text-align: center;
        }
    }
    //HABILIDADES
    #secHabilidades {
        .sass{
            margin-top:30px;
        }
    }
    //PROYECTOS 
    #secProyectos{
        height: auto;
    }
   //CONTACTAME 
    #secContactame {
        height: auto;
    }
}