//--CELULARES---------------------CELULARES 
@mixin sayda{
    background:rgba(10, 10, 10, 0.51);
    position: absolute;
    text-align:center;
    width:95%;
    right:2%;
}
@media (max-width:764px) and (min-width:319px){
    //SECION DE INICIO
    #secInicio .sayda {
        @include sayda;
        top:60%;
        h1{
            font-size:64px;
        }
    }
    //SECCION DE SOBRE MI
    #sobreMi{
        padding: 20% 0%;
        .imagen{
            display: none;
        }
        h1{
            font-size:52px;
        }
        p{
            font-size:19px; 
        }
    } 
}
@media (max-width:568px) and (min-width:320px){
    #secInicio .sayda {
        @include sayda;
        top:53%;
        h1{
            font-size:56px;
        }
    }
        //SECCION DE SOBRE MI
    #sobreMi{
        padding:15% 0%;
        .imagen{
            display: none;
        }
        h1{
            font-size:45px;
        }
        p{
            font-size:15px; 
        }
    } 
}
//CELULARES--------------PAD------
@media (max-width:1024px) and (min-width:764px){
    #secInicio .sayda {
        @include sayda;
        top:60%;
    }
}